<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Website : About Us</title>
    <link rel="stylesheet" href="styles">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
</head>
<body>
<header th:insert="blocks/header :: header"></header>
<div class="container-fluid">
    <p>This is a simple web-site based on Java Spring Boot that gives you a possibility to say anything to the world.</p>
    <p>Here is the contact of the only person working on the project &#128540 &#9196 </p>
    <img src="https://im0-tub-ru.yandex.net/i?id=68d3622ee5be2a9f1714517651cbdbef&n=13&exp=1" width="20px" height="20px"> <a href="https://github.com/LordCommander21">LordCommander21</a>
    <br>
    <img src="https://pbs.twimg.com/media/BbM2L61CcAAqJxb.png:large" width="20px" height="20px"> <a href="https://www.facebook.com/daniel.gogadze">Facebook</a>
</div>
<footer th:insert="blocks/footer :: footer"></footer>
</body>
</html>