<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Website : About Us</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="styles/styles.css">
</head>
<body>
<header th:insert="blocks/header :: header"></header>
<form action="/addpost" method="post" style="border:1px solid #ccc">
    <div class="container">
        <h1>Add new post</h1>
        <p>Fill labels to create new post.</p>
        <hr>
        <label><b>Username</b></label>
        <input type="text" placeholder="Username" name="userName" required>

        <label><b>Password</b></label>
        <input type="password" placeholder="Password" name="userPassword" required>

        <div>
            <label><b>Title</b></label>
            <input type="text" placeholder="Title" name="title" required><br>
            <label><b>Text</b><br>
                <textarea name="text" required cols="100" rows="5" maxlength=""></textarea></label>
        </div>
        <button type="button" class="cancelbtn">Cancel</button>
        <button type="submit" class="signupbtn">Submit</button>
    </div>
</form>
<footer th:insert="blocks/footer :: footer"></footer>
</body>
</html>