<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <title>Website : Home</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
</head>
<body>
    <header th:insert="blocks/header :: header"></header>
    <div class="allClassesContainer mt-5">
        <h1>All posts</h1>
        <div th:each="el : ${posts}" class="alert alert-info mt-2">
            <h3 style="color: #ff428a" th:text="${el.getSenderUserName()}"></h3>
            <h4 style="text-align: center" th:text="${el.getTitle()}"></h4>
            <p th:text="${el.getText()}"></p>
            <br>
            <h5 style="text-align: right" th:text="${el.getDate()}"></h5>
        </div>
    </div>
    <footer th:insert="blocks/footer :: footer"></footer>
</body>
</html>